#team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./team.png");
  background-size: 100%;
  background-attachment: fixed;
  font-family: "Avenir", sans-serif;
  padding: 5%;
}

#team > h1 {
  color: white;
  font-size: 5vw;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
}

#team > h2 {
  color: white;
  margin-bottom: 5%;
  font-size: 2vw;
  text-align: center;
}

#team > svg:hover {
  cursor: pointer;
}

#team > svg path {
  transition: fill 0.5s ease-in-out;
  fill: white;
}

#team > #panel-right {
  visibility: hidden;
  background-color: #881103;
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 5vw;
  width: 40vw;
  border-radius: 1vw;
  overflow: hidden;
  color: white;
  box-shadow: 0 0 5px 5px #202020;
}

#team > #panel-right > .member {
  flex-direction: row;
  display: flex;
}

#team > #panel-right > .member > img {
  width: 10vw;
  margin-right: 10px;
}

#team > #panel-right > .member > .content {
  flex-direction: column;
  display: flex;
  padding: 0 5px;
  justify-content: center;
}

#team > #panel-right > .member > .content > h1 {
  font-size: 2vw;
  margin: 0;
}

#team > #panel-right > .member > .content > label {
  font-size: 0.75vw;
  margin: 0;
}
