#team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./team.png");
  background-size: 100%;
  background-attachment: fixed;
  font-family: "Avenir", sans-serif;
  padding: 5%;
}

#team > h1 {
  color: white;
  font-size: 5vw;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
}

#team > h2 {
  color: white;
  margin-bottom: 5%;
  font-size: 2vw;
  text-align: center;
}

#team > .mapper {
  background-color: tomato;
  width: 80vw;
}